apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
      tier: web
  template:
    metadata:
      labels:
        app: nginx
        tier: web
    spec:
      initContainers:
        - name: init-web-content
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              mkdir -p /usr/share/nginx/html && \
              echo "<!doctype html><html><head><meta charset='utf-8'><title>Reto K8s L4</title></head><body><h1>Hola Soy Hader Cardona </h1><p>Contenido persistente en PVC.</p></body></html>" > /usr/share/nginx/html/index.html
          volumeMounts:
            - name: web-content
              mountPath: /usr/share/nginx/html
      containers:
        - name: nginx
          image: nginx:1.25-alpine
          ports:
            - name: http
              containerPort: 80
              volumeMounts:
            - name: web-content
              mountPath: /usr/share/nginx/html
            - name: nginx-logs
              mountPath: /var/log/nginx
              readinessProbe:
             httpGet:
              path: /
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
      volumes:
        - name: web-content
          persistentVolumeClaim:
            claimName: nginx-pvc
        - name: nginx-logs
          persistentVolumeClaim:
            claimName: nginx-pvc
