apiVersion: v1
kind: PersistentVolume
metadata:
  name: my-app-pv
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /var/log/nginx
    type: DirectoryOrCreate