apiVersion: v1
kind: PersistentVolume
metadata:
  name: accounting-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /tmp/accounting-data