apiVersion: v1
kind: PersistentVolume
metadata:
  name: app-banca-pv
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /mnt/data-spring
    type: DirectoryOrCreate