apiVersion: apps/v1
kind: Deployment
metadata:
  name: mi-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mi-app
  template:
    metadata:
      labels:
        app: mi-app
    spec:
      containers:
        - name: mi-app
          image: nginx:latest
          ports:
            - containerPort: 80
          volumeMounts:
            - name: mi-storage
              mountPath: /usr/share/nginx/html
          env:
            - name: EXAMPLE_ENV_VAR
              value: "example-value"
      volumes:
        - name: mi-storage
          persistentVolumeClaim:
            claimName: mi-pvc
