apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
  namespace: nginx-service-lab
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: nginx
      tier: webapp
  template:
    metadata:
      labels:
        app: nginx
        tier: webapp
    spec:
      containers:
        - name: nginx
          image: nginx:1.29-alpine
          ports:
            - name: http
              containerPort: 80
          volumeMounts:
            - name: web-content
              mountPath: /usr/share/nginx/html
            - name: nginx-logs
              mountPath: /var/log/nginx
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
      volumes:
        - name: web-content
          persistentVolumeClaim:
            claimName: nginx-pvc
        - name: nginx-logs
          persistentVolumeClaim:
            claimName: nginx-pvc
