apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: soaka-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: manual
  volumeName: my-pv