apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer-app
  labels:
    app: customer-app.local
spec:
  replicas: 1
  selector:
    matchLabels:
      app: customer-app.local
  template:
    metadata:
      labels:
        app: customer-app.local
    spec:
      containers:
      - name: customer-app
        image: customer-app:latest
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: soaka-storage
          mountPath: /mnt/data
        resources:  # Mover aquí los límites de recursos
          requests:
            memory: "256Mi"
            cpu: "500m"
          limits:
            memory: "512Mi"
            cpu: "1"
      volumes:
      - name: soaka-storage
        persistentVolumeClaim:
          claimName: soaka-pvc