apiVersion: v1
kind: Service
metadata:
  name: challenge-service
  namespace: test
  labels:
    app: challenge-app
spec:
  type: ClusterIP
  selector:
    app: challenge-app
  ports:
  - name: http
    protocol: TCP
    port: 8080
    targetPort: 80