apiVersion: v1
kind: Service
metadata:
  name: my-app-l4-service
  labels:
    app: my-app-l4
spec:
  type: ClusterIP
  selector:
    app: my-app-l4
  ports:
  - name: http
    protocol: TCP
    port: 8080
    targetPort: 80
  - name: https
    protocol: TCP
    port: 443
    targetPort: 80