apiVersion: v1
kind: service
metadata:
  name: customer-service
  labels:
    app: customer-app.local
spec:
  type: ClusterIP
  selector:
    app: customer-app.local
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 8080