apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: challenge-ingress
  namespace: test
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
  - host: reto.local
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: challenge-service
            port:
              number: 8080